*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
main {
  height: 100%;
  width: 100%;
  background-color: rgb(90, 83, 83);
  display: flex;
  align-items: center;
  justify-content: center;

  .all-rels {
    height: 90vh;        
    // width: 90%;          // optional
    // background-color: aqua;
    overflow-y: auto;
    overflow-x: hidden;
    // padding: 10px ;
    // border: 1px solid #ccc;
    white-space: normal;
scroll-snap-type: y mandatory;
  // overflow-x: auto;
    .reel {
      height: 610px;
      width: 340px;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      margin-bottom: 20px; // spacing between reels
scroll-snap-stop: always;
scroll-snap-align: start;
 flex: 0 0 100%;

 .mutedd{
  // padding: 10px 20px;

  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0%;
text-align: center;
  background-color: rgba(38, 39, 39, 0.612);
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 5px;
  
i{
  font-size: 25px;
// margin: 0 auto;
  color: white;
  pointer-events: none;
  // width: 5px;

  
}



 }
      video{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .right{
        position: absolute;
        bottom: 10%;
        right: 0;
        color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 25px;
width: 10px;
   gap: 10px;
text-align: center;


.right>div{
  width: 10px;
}
.like {
  // width: 10px;
  // background-color: aqua;
  .love {
    color: red;
  }
}

  h4,
  h6 {

    pointer-events: none;
  }
i {
  font-size: 25px;
  font-weight: 200;
}

h6 {
  font-size: 16px;
  font-weight: 200;
}


   i{
    font-size: 25px;
       font-weight: 200;
   }

   h6{
    font-size: 16px;
    font-weight: 200;

   }
 
      }

      .bottom {
        height: 120px;
        width: 100%;
        // background-color: rgba(0, 0, 0, 0.542);
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0));

        position: absolute;
        bottom: 0;
        display: flex;
        // align-items: center;
        // justify-content: center;
        flex-direction: column;
        padding: 8px;
        gap: 2rem;
padding: 10px;
      .top{
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;


    h3{
      font-weight: 300;
    }
    button{
        padding: 5px 8px;
        border: 2px solid white;
        background-color: transparent;
        color: white;
    }
          .round {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          // background-color: red;
overflow: hidden;

          img{
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }

        p {
          color: white;
          width: 70%;
          font-size: 18px;
        }
      }
    }
  }

  .all-rels::-webkit-scrollbar {
    display: none;
  }
}
