*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{

    height: 100%;
    width: 100%;
}


main{

    height: 100%;
    width: 100%;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
    .card{
        // height: 350px;
        width: 200px;
// padding: 10px;
background-color: white;
padding: 10px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
border-radius: 10px;
.images{

    position: relative;
    overflow: hidden;

            img{
            width: 100%;
            height: 250px;
          background-size: contain;
          object-fit: cover;
          border-radius: 10px;

        }


        i{
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 3rem;
            opacity: 0;
            transform: translate(-50%, -50%) scale(0) rotate(-60deg);
                 background-image: url("https://www.zilliondesigns.com/blog/wp-content/uploads/instagram.jpg");
  background-size: cover;
    background-position: center;

    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;       /* very important */
    -webkit-text-fill-color: transparent;
         
            transition: all cubic-bezier( 0.43,1.08, 0.53,1.13 ) 0.3s;
             display: inline-block;

        }


}

h1{
    margin-top: 1.2rem;
}
    }
}
