*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html,body{
    height: 100%;
    width: 100%;
}


main{

    height: 100%;
    width: 100%;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;


  .card{

    // height: 200px;
    width: 500px;
    background-color: white;
 padding: 30px;
 border-radius: 10px;
 text-align: center;
 p{
    font-size: 1.2rem;
 }
    .outer{
       width: 100%;
       height: 20px;
       background-color: gray;
       border-radius: 10px;
       margin-top: 1.4rem;
       .inner{
        height: 100%;
        width: 0%;
        background-color: green;
        border-radius: 10px;
       }
    }

    .bottom{
        display: flex;
        justify-content: space-between;
        margin-top: 1.2rem;

        button{
            border: none;
            padding: 10px 20px;
            background-color: green;
            color: white;
            border-radius: 10px;
        }

        h2{
            font-size: 1.5rem;
        }
    }
  }

}