*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

main{

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    button{
        padding: 10px 20px;
        border: none;
        font-weight: 600;
        background-color: tomato;
        color: white;
        position: relative;
        z-index: 1;
    
    }

    button:active{
     scale: 0.95;
    }
}